@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=SUSE:wght@100..800&display=swap');

body {
    background: #eaeaea;
    color: #000000;
    font-family: "Inter", sans-serif;
}
 
h1 {
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}
 
p {
    font-size: 1.25rem;
    text-align: center;
    color: #000000;
}
 
.registration-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}
 
.registration-form .form-label {
    font-size: 1.2rem;
    color: #333;
}
 
.registration-form .form-control {
    font-size: 1rem;
    padding: 10px;
}
 
.registration-form button {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #0048D9;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}
 
.registration-form button:hover {
    background-color: #153B53;
    color: white;
}
 
#confirmationMessage {
    font-size: 1.5rem;
    color: #FFD900;
}
 
#confirmationMessage a {
    display: inline-block;
    margin-top: 20px;
    background-color: #20537D;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
 
#confirmationMessage a:hover {
    background-color: #153B53;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-items img {
    width: 24px;
    cursor: pointer;
}

.login {
    cursor: pointer;
}

.lang-dropdown {
    cursor: pointer;
}

/* Step Progress Bar */
.progress-container {
    display: flex;
    justify-content: center;
    background: #eaeaea;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.step {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #666;
    margin: 0 10px;
}

.step .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 8px;
    border: 2px solid #666;
    background: #fff;
}

.step.active .circle {
    background: #555;
    color: white;
    border-color: #555;
}

.step.active {
    color: black;
    font-weight: bold;
}