@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=SUSE:wght@100..800&display=swap');

body, html {
  background: url("bg.jpg") rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  overflow-y: hidden;
}

@media (max-width: 991px){
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}

.btn-blue {
  background-color: #0048D9;
  color: white;
  border: none;
  border-radius: 6px;
  width: 157px;
  height: 38px;
  padding-left: 16px;
  padding-top: 4px;
  font-size: 18px;
}

.text {
  font-size: 0.7em;
}

.btn-blue:hover {
  background-color: darkblue;
}